.lp-loxoprofen {
    color: #333;
    line-height: 2.2;
    letter-spacing: 1px;
    font-family: 'Hiragino Kaku Gothic ProN', 'Yu Gothic', 'Meiryo', 'MS PGothic', sans-serif;
}

.lp-loxoprofen-responsive-pc {
    display: block !important;
}
.lp-loxoprofen-responsive-sp {
    display: none !important;
}
@media (max-width: 768px) {
    .lp-loxoprofen-responsive-pc {
        display: none !important;
    }

    .lp-loxoprofen-responsive-sp {
        display: block !important;
    }
}

/* btn animation------------------------- */

.lp-loxoprofen-fv-cta img {
    animation: anime1 0.6s ease 0s infinite alternate;
    transform-origin: center;
}

.lp-loxoprofen-offer-cta img {
    animation: anime2 0.6s ease 0s infinite alternate;
    transform-origin: center;
}

.lp-loxoprofen-line-cta img {
    animation: anime3 0.6s ease 0s infinite alternate;
    transform-origin: center;
}
@keyframes anime1 {
    from {
        transform: scale(0.9, 0.9);
    }
    to {
        transform: scale(1, 1);
    }
}

@keyframes anime2 {
    from {
        transform: scale(0.9, 0.9);
    }
    to {
        transform: scale(1, 1);
    }
}

@keyframes anime3 {
    from {
        transform: scale(0.9, 0.9);
    }
    to {
        transform: scale(1, 1);
    }
}

/* header------------------------- */
.lp-loxoprofen-header {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: center;
}

.lp-loxoprofen-header img {
    width: 240px;
}

/* fv----------------------------- */
.lp-loxoprofen-fv {
    background-size: cover;
    position: relative;
}

.lp-loxoprofen-fv .lp-loxoprofen-pkg {
    position: absolute;
    left: 4%;
    top: 36%;
    max-width: 40%;
    width: 100%;
}

.lp-loxoprofen-fv .lp-loxoprofen-text {
    position: absolute;
    right: 2%;
    top: 10%;
    max-width: 500px;
    text-align: center;
    width: 50vw;
}

@media (max-width: 1000px) {
    .lp-loxoprofen-fv .lp-loxoprofen-text {
        right: 2%;
        top: 5%;
        max-width: 480px;
    }
}

.lp-loxoprofen-fv .lp-loxoprofen-text p {
    background-color: #0851bc;
    font-size: min(2.2vmax, 22px);
    color: #fff;
    padding: 2% 3%;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
}

.lp-loxoprofen-fv .lp-loxoprofen-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    border-top: 20px solid #0851bc;
    border-bottom: 0;
    margin: auto;
}

.lp-loxoprofen-fv .lp-loxoprofen-text h1 {
    font-family: 'Hiragino Mincho ProN', 'Yu Mincho', 'MS PMincho', 'MS Mincho', serif;
    font-size: min(12vmax, 60px);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-shadow: 1px 1px 0px #fff, -1px -1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff, 1px 0px 0px #fff, -1px 0px 0px #fff, 0px 1px 0px #fff, 0px -1px 0px #fff;
    color: #0851bc;
}

@media (max-width: 1100px) {
    .lp-loxoprofen-fv .lp-loxoprofen-text h1 {
        font-size: min(8vmax, 46px);
    }
}

@media (max-width: 900px) {
    .lp-loxoprofen-fv .lp-loxoprofen-text h1 {
        font-size: min(7vmax, 40px);
    }
}

.lp-loxoprofen-fv-point {
    margin-top: 10px;
}

.lp-loxoprofen-fv-btn {
    margin-top: 20px;
}

/* trouble------------------------------*/
.lp-loxoprofen-trouble {
    background: url(../img/trouble_bg.png);
    background-size: cover;
    padding: 8% 3% 3% 3%;
    margin-top: -5%;
    background-position: bottom;
}
.lp-loxoprofen-trouble-box {
    background: url(../img/trouble-pc-bg.png);
    background-size: cover;
    padding: 3vw;
}
.lp-loxoprofen-trouble-box h2 {
    font-size: min(4vmax, 50px);
    line-height: 1.5;
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: 'Hiragino Mincho ProN', 'Yu Mincho', 'MS PMincho', 'MS Mincho', serif;
}
.lp-loxoprofen-trouble-box h2 span {
    font-size: min(4.4vmax, 44px);
}
.lp-loxoprofen-trouble-item-01,
.lp-loxoprofen-trouble-item-02,
.lp-loxoprofen-trouble-item-03,
.lp-loxoprofen-trouble-item-04 {
    display: flex;
    background-color: rgb(0, 0, 0, 0.6);
    color: #fff;
    padding: 1vw;
    width: 58%;
    margin-bottom: 20px;
    align-items: center;
    border-radius: 10px;
}
.lp-loxoprofen-trouble-item-01 img,
.lp-loxoprofen-trouble-item-02 img,
.lp-loxoprofen-trouble-item-03 img,
.lp-loxoprofen-trouble-item-04 img {
    width: 100%;
    max-width: 35px;
    height: 100%;
    margin-right: 10px;
}
.lp-loxoprofen-trouble-item-01 p,
.lp-loxoprofen-trouble-item-02 p,
.lp-loxoprofen-trouble-item-03 p,
.lp-loxoprofen-trouble-item-04 p {
    font-size: min(2.6vmax, 18px);
    font-weight: bold;
}
.lp-loxoprofen-trouble-item-01 p span,
.lp-loxoprofen-trouble-item-02 p span,
.lp-loxoprofen-trouble-item-03 p span,
.lp-loxoprofen-trouble-item-04 p span {
    color: #fefc00;
}

/* resolution--------------------------------------- */
.lp-loxoprofen-resolution img {
    width: 100%;
    height: 100%;
}

/* offer-------------------------------------------- */
.lp-loxoprofen-offer {
    background: url(../img/offer-bg.png);
    background-size: cover;
    padding: 3vw 2vw;
}
.lp-loxoprofen-offer-inner {
    padding: 3vw;
}
.lp-loxoprofen-offer-title {
    color: #fff;
    padding: 3% 0 2% 0;
    margin: auto;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: min(6vmin, 50px);
    font-weight: bold;
    font-family: 'Hiragino Mincho ProN', 'Yu Mincho', 'MS PMincho', 'MS Mincho', serif;
    line-height: 2;
}
.lp-loxoprofen-offer-28 {
    background: linear-gradient(to right, #2ba0e2, #0b3ab2);
}
.lp-loxoprofen-offer-70 {
    background: linear-gradient(to right, #e22d2d, #b20b0b);
}
.lp-loxoprofen-offer-14 {
    background-color: #494949;
}
.lp-loxoprofen-offer-box {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    padding: 3% 3% 4% 3%;
    margin-bottom: 5%;
}
.lp-loxoprofen-offer-flex {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}
.lp-loxoprofen-offer-main-content {
    width: 40%;
    padding: 1.5%;
}
.lp-loxoprofen-offer-sidebar {
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
    width: 60%;
}
.lp-loxoprofen-offer-product-name {
    width: 100%;
    line-height: 1.5;
    padding: 1.5%;
}
.lp-loxoprofen-offer-product-name h3 {
    font-size: min(3vmax, 38px);
    font-weight: bold;
    margin-bottom: 10px;
}
.lp-loxoprofen-offer-product-name p {
    font-size: min(3vmax, 30px);
    font-weight: bold;
}
.lp-loxoprofen-offer-product-name span {
    border: 1px solid #333;
    margin-right: 1%;
    padding: 1%;
    font-size: min(2.5vmax, 25px);
}
.lp-loxoprofen-offer-product-price {
    display: flex;
    justify-content: center;
    padding: 1.5%;
}
.lp-loxoprofen-offer-product-price img {
    width: 90%;
}
.lp-loxoprofen-offer-box img {
    width: 100%;
}
.lp-loxoprofen-offer-text {
    border: 2px solid #d70000;
    color: #d70000;
    padding: 2%;
    border-radius: 100px;
    text-align: center;
    font-weight: bold;
    font-size: min(3.5vmin, 30px);
    margin-top: 10px;
    line-height: 1;
}
.lp-loxoprofen-offer-cta {
    text-align: center;
    margin-top: 4%;
}

.lp-loxoprofen-offer-cta a img {
    margin: auto;
}
.lp-loxoprofen-offer-cta img {
    width: 90%;
}
.lp-loxoprofen-offer-cta a:hover {
    opacity: 0.7;
}

.lp-hemorrhoids-offer-inner {
    padding: 3vw;
}

.lp-loxoprofen-offer-wrapper {
    background-color: #fff;
    box-shadow: 0px 14px 15px -4px rgb(118 118 118 / 50%);
    border-radius: 20px;
}

/*about*/
.lp-loxoprofen-about {
    background-color: #fff9d7;
}
.lp-loxoprofen-about-img img {
    width: 100%;
}

/*detail*/
.lp-loxoprofen-product-detail {
    background-color: #fff9d7;
    padding: 3vw 3vw 0 3vw;
}
.lp-loxoprofen-product-detail-box {
    background-color: #fff;
    border-radius: 20px;
    padding: 5%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.lp-loxoprofen-product-detail-box h2 {
    margin-bottom: 2%;
    font-weight: bold;
    font-size: min(4.2vmax, 42px);
    text-align: center;
}
.lp-loxoprofen-product-detail-box p {
    font-size: min(2.8vmin, 24px);
    line-height: 2.5;
    margin-bottom: 40px;
    text-align: center;
}
.lp-loxoprofen-product-detail-box span {
    color: #d70000;
}
.lp-loxoprofen-product-detail-coution {
    background-color: #000f6e;
    width: 90%;
    margin: 0 auto;
    margin-top: 2%;
    padding: 0;
    font-size: min(4.2vmax, 42px);
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.lp-loxoprofen-product-detail-img {
    margin: 0 auto;
}
.lp-loxoprofen-product-detail-img img {
    width: 100%;
}
.lp-loxoprofen-detail-conclusion {
    font-size: min(3vmax, 40px);
    line-height: 1.5;
    margin: 5% 0 0 0;
    font-family: 'Hiragino Mincho ProN', 'Yu Mincho', 'MS PMincho', 'MS Mincho', serif;
    text-align: center;
}
.lp-loxoprofen-detail-conclusion span {
    color: #0851bc;
    font-size: min(8vmax, 80px);
}

/*explain*/
.lp-loxoprofen-explain-area {
    background: url(../img/explain-bg.png);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3vw 3vw 6vw 3vw;
    background-position: top center;
}
.lp-loxoprofen-explain-area h2 {
    margin-top: 10%;
    padding: 1% 2%;
}
.lp-loxoprofen-copy-img {
    margin-bottom: 3%;
}
.lp-loxoprofen-copy-img h3 {
    margin-top: 2%;
    color: #0b3ab2;
    font-size: min(3.5vmax, 50px);
    font-weight: bold;
}
.lp-loxoprofen-copy-img p {
    font-size: min(2vmax, 20px);
    font-weight: normal;
    margin-top: 20px;
}
.lp-loxoprofen-copy-img img {
    width: 80%;
    height: 100%;
}
.lp-loxoprofen-explain {
    background-color: #0c57ab;
    border: 2px solid #fff;
    padding: 2%;
    border-radius: 15px;
    color: #fff;
}
.lp-loxoprofen-explain h3 {
    font-size: min(4.2vmax, 42px);
    font-weight: bold;
}
.lp-loxoprofen-explain p {
    font-size: min(2.4vmax, 24px);
    line-height: 2.5;
    margin-bottom: 20px;
    font-size: min(2.2vmax, 24px);
}
.lp-loxoprofen-explain-yellow {
    color: #fffc00;
    font-weight: bold;
}
.lp-loxoprofen-explain-component-title {
    margin-top: 5%;
    font-weight: bold;
    font-size: min(4vmax, 50px);
    line-height: 1.5;
    margin-bottom: 3%;
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 0px 1px 0 #fff, 0-1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
}

.lp-loxoprofen-explain-img img {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}

.lp-loxoprofen-explain-component-additional {
    color: #ff0101;
    font-size: min(6vmax, 60px);
}
.lp-loxoprofen-explain-component-two {
    font-size: min(4vmax, 50px);
}

.lp-loxoprofen-explain-component-two span {
    color: #ff0101;
}
.lp-loxoprofen-explain-component {
    margin: 5% 0;
}
.lp-loxoprofen-product-detail-img img {
    width: 100%;
}

/*lasting*/
.lp-loxoprofen-lasting {
    text-align: center;
    background-color: #ecf6ff;
}
.lp-loxoprofen-lasting h2 {
    background-color: #000f6e;
    padding: 2%;
    font-size: min(4.2vmax, 42px);
    color: #fff;
    font-weight: bold;
}
.lp-loxoprofen-lasting-flex {
    display: flex;
}
.lp-loxoprofen-lasting-img {
    width: 50%;
}
.lp-loxoprofen-lasting-img img {
    width: 100%;
}
.lp-loxoprofen-merit {
    background: linear-gradient(#f3f4ff, #b6e3ff, #75d3ff);
    padding: 3%;
}
.lp-loxoprofen-lasting-title {
    background-color: #000f6e;
    border-radius: 9999px;
    margin: 3% 10%;
    font-size: min(4.2vmax, 42px);
    color: #fff;
    font-weight: bold;
}
.lp-loxoprofen-lasting-copy {
    padding: 2% 1%;
    margin-bottom: 5%;
    color: #000f6e;
    font-size: min(4vmax, 40px);
    font-weight: bold;
    line-height: 1.5;
}
.lp-loxoprofen-lasting-copy span {
    font-size: min(6vmax, 60px);
}
.lp-loxoprofen-merit-flex {
    display: flex;
    margin-bottom: 2%;
}
.lp-loxoprofen-merit-flex-reverse {
    flex-direction: row-reverse;
}
.lp-loxoprofen-merit-img {
    width: 50%;
}
.lp-loxoprofen-lasting-flex-img img {
    width: 100%;
}
.lp-loxoprofen-merit-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    width: 50%;
    padding: 1%;
    line-height: 1.5;
    font-size: min(2.4vmax, 40px);
    font-weight: bold;
}
.lp-loxoprofen-merit-text span {
    font-size: min(5vmax, 50px);
    color: #ff0101;
}

/*price*/
.lp-loxoprofen-price-area {
    background: url(../img/price-bg.png);
    background-size: cover;
}
.lp-loxoprofen-price h2 {
    color: #fff;
    padding: 3%;
    margin: auto;
    text-align: center;
    border-radius: 20px 20px 0 0;
    font-size: min(4vmax, 40px);
    font-weight: bold;
}
.lp-loxoprofen-price-box {
    background-color: #fff;
    padding: 2%;
}
.lp-loxoprofen-price-special-offer {
    text-align: center;
}
.lp-loxoprofen-price-special-offer-title {
    background-color: #2f76ec;
    padding: 2% 0;
    color: #fff;
    font-weight: bold;
    font-size: min(4vmax, 20px);
    line-height: 1.8;
}
.lp-loxoprofen-price-special-offer-title span {
    font-size: min(6vmax, 30px);
}

.lp-loxoprofen-offer-benefits h3 {
    background-color: #2f76ec;
    text-align: center;
    color: #fff;
    padding: 2% 0;
    font-weight: bold;
    font-size: min(2vmax, 20px);
    line-height: 1.8;
    border-radius: 10px 10px 0 0;
}

.lp-loxoprofen-offer-benefits h3 span {
    font-size: min(3vmax, 30px);
}

.lp-loxoprofen-offer-benefits-box {
    background-color: #c7dbff;
    display: flex;
    padding: 3%;
    justify-content: space-around;
}

.lp-loxoprofen-offer-benefits-item {
    background-color: #fff;
    border-radius: 20px;
    padding: 2%;
    width: 30%;
    text-align: center;
}

.lp-loxoprofen-offer-benefits-no {
    background-color: #fd5151;
    color: #fff;
    font-size: min(2.4vmax, 24px);
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    border-radius: 30px;
    padding: 5% 3%;
    line-height: 1;
}

.lp-loxoprofen-offer-benefits-text {
    font-size: min(6vmax, 14px);
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.lp-loxoprofen-offer-benefits-main-text {
    font-size: min(3.2vmax, 30px);
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    color: #fd5151;
    line-height: 1.2;
}

.lp-loxoprofen-offer-benefits-free {
    background-color: #f8ffc7;
    color: #fd5151;
    padding: 0 2%;
    font-size: min(2vmin, 18px);
    font-weight: bold;
    text-align: center;
    border: 1px solid #fd5151;
    border-radius: 5px;
}

.lp-loxoprofen-reason-area {
    text-align: center;
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    padding: 8% 3% 5% 3%;
}
.lp-loxoprofen-reason-img {
    width: 100%;
}
.lp-loxoprofen-reason-title {
    font-size: min(3vmax, 30px);
    font-weight: bold;
    margin-bottom: 3%;
    line-height: 1.5;
    font-family: 'Hiragino Mincho ProN', 'Yu Mincho', 'MS PMincho', 'MS Mincho', serif;
}
.lp-loxoprofen-reason-title span {
    font-size: min(8vmax, 80px);
    font-weight: bold;
}

.lp-loxoprofen-offer-benefits-box-inner {
    background-color: #fff;
    box-shadow: 0px 14px 15px -4px rgb(118 118 118 / 50%);
    border-radius: 20px;
}

.lp-loxoprofen-offer-message {
    font-size: min(4vmin, 50px);
    font-weight: bold;
    display: block;
    border-bottom: 2px solid #444;
    text-align: center;
    margin-bottom: 25px;
}

/* line--------------------------------------- */
.lp-loxoprofen-line {
    width: 100%;
    position: relative;
    padding: 8% 0 0 0;
}
.lp-loxoprofen-line h2 {
    display: block;
    text-align: center;
    background: linear-gradient(to bottom, #16be58, #26ab5b);
    border-radius: 5px;
    padding: 2%;
    color: #fff;
    font-size: min(3vmin, 30px);
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    line-height: 1.8;
    box-shadow: 0px 6px 2px #c2e0d6;
    font-family: 'Hiragino Kaku Gothic ProN', 'Yu Gothic', 'Meiryo', 'MS PGothic', sans-serif;
}

.lp-loxoprofen-line-box {
    background-color: #fff;
    border-radius: 20px;
    padding: 12% 3vw 3vw 3vw;
    box-shadow: 0px 14px 15px -4px rgb(118 118 118 / 50%);
}
.lp-loxoprofen-line-text {
    text-align: center;
}
.lp-loxoprofen-line-title {
    font-size: min(3vmax, 30px);
    font-family: var(--font-gothic);
    line-height: 1.2;
    color: #333;
    font-weight: bold;
    margin-bottom: 30px;
}
.lp-loxoprofen-line-title span {
    font-size: min(6vmax, 60px);
}
.lp-loxoprofen-line-explanatory {
    text-align: center;
    font-size: min(2.4vmax, 24px);
}
.lp-loxoprofen-line-explanatory span {
    color: #e23636;
    font-size: min(2.4vmax, 24px);
}

.lp-loxoprofen-line-cta {
    text-align: center;
    margin-top: 5%;
}
.lp-loxoprofen-line_cta img {
    width: 80%;
}

/* faq-------------------------------------- */
.lp-loxoprofen-faq {
    padding: 3vw;
}
.lp-loxoprofen-faq h2 {
    font-size: min(4vmax, 40px);
    text-align: center;
}
.lp-loxoprofen-faq-item {
    max-width: 100%;
    margin-bottom: 5px;
    border-bottom: 2px solid #d6dde3;
}
.lp-loxoprofen-faq-item summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em 1em 3em;
    color: #333333;
    font-weight: 600;
    cursor: pointer;
    padding: 2% 0 2% 10%;
    font-size: min(2.6vmax, 26px);
}
.lp-loxoprofen-faq-item summary::before,
.lp-loxoprofen-faq-item p::before {
    position: absolute;
    left: 2%;
    font-weight: 600;
    font-size: min(4.8vmax, 48px);
}
.lp-loxoprofen-faq-item summary::before {
    color: #75bbff;
    content: 'Q';
}
.lp-loxoprofen-faq-item summary::after {
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 3px solid #333333b3;
    border-right: 3px solid #333333b3;
    content: '';
    transition: transform 0.5s;
}
.lp-loxoprofen-faq-item[open] summary::after {
    transform: rotate(225deg);
}
.lp-loxoprofen-faq-item p {
    position: relative;
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: 2% 0 5% 10%;
    color: #333;
    transition: transform 0.5s, opacity 0.5s;
}
.lp-loxoprofen-faq-item[open] p {
    transform: none;
    opacity: 1;
}
.lp-loxoprofen-faq-item p::before {
    color: #ff8d8d;
    line-height: 1.2;
    content: 'A';
}

@media screen and (max-width: 768px) {
    /* header------------------------- */
    .lp-loxoprofen-header img {
        width: 200px;
    }

    /* fv----------------------------- */
    .lp-loxoprofen-fv {
        position: relative;
        width: 100%;
        text-align: center;
        padding-top: 9%;
    }

    .lp-loxoprofen-fv .lp-loxoprofen-pkg {
        position: absolute;
        top: 38%;
        left: 27%;
        transform: translateX(-50%);
        max-width: 46%;
    }

    .lp-loxoprofen-fv .lp-loxoprofen-text {
        position: initial;
        right: 0;
        top: 0;
        max-width: 100vh;
        width: 100%;
        text-align: center;
    }

    .lp-loxoprofen-fv .lp-loxoprofen-text p {
        font-size: min(4.2vmin, 26px);
        border-radius: 0;
        top: 0;
        position: absolute;
        width: 100%;
    }

    .lp-loxoprofen-fv .lp-loxoprofen-triangle {
        position: absolute;
        top: 7.8%;
        left: 50%;
        transform: translateX(-50%);
    }

    .lp-loxoprofen-fv .lp-loxoprofen-text h1 {
        font-size: min(13vmin, 100px);
        position: absolute;
        top: 12%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    .lp-loxoprofen-fv .lp-loxoprofen-text img {
        width: 100%;
    }

    .lp-loxoprofen-fv .lp-loxoprofen-text a {
        position: absolute;
        bottom: 0%;
        left: 0;
        transform: translateX(-50%);
        width: 100%;
    }

    .lp-loxoprofen-fv-point {
        width: 100%;
        position: absolute;
        transform: translateX(-50%);
        padding: 10px;
        bottom: 16%;
    }

    .lp-loxoprofen-fv-btn {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    /* troubl */

    .lp-loxoprofen-trouble {
        margin-top: -6%;
        padding: 13% 3% 6% 3%;
    }

    .lp-loxoprofen-trouble-box {
        background: url(../img/trouble-sp-bg.png);
        padding-top: 180%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-color: #fff;
        position: relative;
        background-size: contain;
    }

    .lp-loxoprofen-trouble-box h2 {
        position: absolute;
        width: 90%;
        top: 2%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        margin-top: 20px;
        font-size: min(5.4vmin, 30px);
    }
    .lp-loxoprofen-trouble-box h2 span {
        font-size: min(6.4vmin, 44px);
    }
    .lp-loxoprofen-trouble-item-box {
        position: absolute;
        width: 90%;
        box-sizing: border-box;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
    }
    .lp-loxoprofen-trouble-item-01,
    .lp-loxoprofen-trouble-item-02,
    .lp-loxoprofen-trouble-item-03,
    .lp-loxoprofen-trouble-item-04 {
        padding: 2vw;
        width: 100%;
        align-items: center;
        border-radius: 0px;
    }
    .lp-loxoprofen-trouble-item-01 p,
    .lp-loxoprofen-trouble-item-02 p,
    .lp-loxoprofen-trouble-item-03 p,
    .lp-loxoprofen-trouble-item-04 p {
        font-size: min(3.2vmin, 20px);
    }

    /* product-detail*/
    .lp-loxoprofen-detail-conclusion span {
        font-size: min(9vmin, 40px);
    }

    /* offer------------------------------------------ */
    .lp-loxoprofen-offer {
        padding: 3vw;
    }
    .lp-loxoprofen-offer-box {
        padding: 3%;
    }
    .lp-loxoprofen-offer-box h3 {
        text-align: center;
        font-weight: bold;
    }

    .lp-loxoprofen-offer-title {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: min(5.2vmin, 40px);
        padding: 5% 0;
        line-height: 1.5;
    }

    .lp-loxoprofen-offer-product-name span {
        font-size: min(1.8vmax, 30px);
        font-weight: bold;
    }

    .lp-loxoprofen-offer-box h3 {
        font-size: min(4.8vmin, 40px);
    }
    .lp-loxoprofen-offer-message {
        margin-bottom: 0;
    }

    .lp-loxoprofen-offer-text {
        font-size: min(3.6vmin, 28px);
    }

    .lp-loxoprofen-offer-product-name p {
        font-size: min(3.6vmin, 30px);
        font-weight: bold;
    }

    .lp-loxoprofen-offer-benefits h3 {
        text-align: center;
        color: #fff;
        padding: 4% 0;
        font-weight: bold;
        font-size: min(3.8vmin, 18px);
        line-height: 1.8;
        letter-spacing: 2px;
    }

    .lp-loxoprofen-offer-benefits h3 span {
        font-size: min(6vmin, 30px);
    }

    .lp-loxoprofen-offer-benefits-box {
        display: block;
        padding: 3%;
        justify-content: space-around;
        margin-bottom: 0px;
    }

    .lp-loxoprofen-offer-benefits-item {
        background-color: #fff;
        border-radius: 10px;
        padding: 6%;
        width: 100%;
        text-align: center;
        margin-bottom: 3vw;
    }

    .lp-loxoprofen-offer-benefits-no {
        background-color: #fd5151;
        color: #fff;
        font-size: min(5.4vmin, 24px);
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
        display: block;
        border-radius: 30px;
        padding: 3%;
        line-height: 1;
    }

    .lp-loxoprofen-offer-benefits-text {
        font-size: min(6.05vmin, 16px);
        display: block;
        text-align: center;
        margin-bottom: 4px;
    }

    .lp-loxoprofen-offer-benefits-main-text {
        font-size: min(8vmin, 24px);
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
        display: block;
        color: #fd5151;
        line-height: 1.2;
    }

    .lp-loxoprofen-offer-benefits-free {
        padding: 0 2%;
        font-size: min(3.5vmin, 22px);
        font-weight: bold;
        text-align: center;
        border-radius: 0;
        width: 80%;
        margin: 20px auto 0px auto;
    }

    .lp-loxoprofen-reason-title span {
        font-size: min(7vmin, 80px);
        font-weight: bold;
    }

    .lp-loxoprofen-offer-cta img {
        width: 100%;
        margin: auto;
    }

    .lp-loxoprofen-copy-img img {
        width: 100%;
    }

    /* explain---------------------------------------- */
    .lp-loxoprofen-explain-area h2 {
        font-size: min(3.5vmin, 24px);
        margin-bottom: 20px;
    }

    .lp-loxoprofen-product-detail-box h2 {
        font-size: min(2.2vmax, 40px);
        line-height: 1.5;
        margin: 20px 0 20px 0;
    }

    .lp-loxoprofen-product-detail-box p {
        font-size: min(3.8vmin, 24px);
        line-height: 2;
        margin-bottom: 20px;
    }

    .lp-loxoprofen-product-detail-coution {
        font-size: min(2.2vmax, 42px);
    }

    /* about------------------------------------------- */
    .lp-loxoprofen-about {
        background-color: #fff9d7;
    }

    .lp-loxoprofen-about-title {
        position: relative;
    }

    .lp-loxoprofen-about-title-inner h2 {
        position: absolute;
        top: 3%;
        width: 100%;
        font-size: min(6vmin, 60px);
        font-family: 'Hiragino Mincho ProN', 'Yu Mincho', 'MS PMincho', 'MS Mincho', serif;
        line-height: 1.2;
    }
    .lp-loxoprofen-about-title-inner h2 span {
        font-size: min(4vmin, 40px);
    }
    .lp-loxoprofen-about-title {
        color: #fff;
        margin: auto;
        text-align: center;
    }
    .lp-loxoprofen-about-point-box {
        display: flex;
        position: absolute;
        top: 80%;
        width: 90%;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
    }

    .lp-loxoprofen-about-point-box img {
        padding: 1vw;
        width: 100%;
    }

    .lp-loxoprofen-about-explanation {
        background-color: #fff;
        border-radius: 20px;
        margin: 3vw;
        padding: 5.5vw 5vw;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    }

    .lp-loxoprofen-about-explanation h3 {
        text-align: center;
        font-weight: bold;
        font-size: min(4.5vmin, 42px);
        padding: 14px 0;
    }

    .lp-loxoprofen-about-explanation h3 span {
        color: var(--accent-color);
    }

    .lp-loxoprofen-about-explanation p {
        font-size: min(3.8vmin, 24px);
        line-height: 2;
        margin-bottom: 20px;
    }

    .lp-loxoprofen-about-explanation p span {
        color: var(--accent-color);
        font-weight: bold;
    }

    .lp-loxoprofen-about-explanation img {
        display: block;
        text-align: center;
        margin: auto;
        width: 80%;
    }

    .lp-loxoprofen-about-conclusion-end p {
        text-align: center;
        font-size: min(7vmin, 40px);
        line-height: 1.5;
        font-family: 'Hiragino Mincho ProN', 'Yu Mincho', 'MS PMincho', 'MS Mincho', serif;
        padding-top: 5%;
    }

    .lp-loxoprofen-about-conclusion-end p span {
        font-size: min(8vmin, 80px);
        color: var(--accent-color);
    }

    .lp-loxoprofen-about-conclusion {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .lp-loxoprofen-about-conclusion h2 {
        font-size: min(4vmin, 40px);
        text-align: center;
    }

    .lp-loxoprofen-explain-area {
        padding: 16% 3vw 6vw 3vw;
    }

    .lp-loxoprofen-explain h3 {
        font-size: min(6.2vmin, 42px);
    }

    .lp-loxoprofen-explain p {
        line-height: 2.5;
        margin-bottom: 20px;
        font-size: min(3.6vmin, 24px);
        letter-spacing: 0.5px;
    }

    .lp-loxoprofen-explain-img img {
        width: 100%;
    }

    /* line--------------------------------------- */

    .lp-loxoprofen-line {
        width: 100%;
        position: relative;
        padding: 16% 0 0 0;
    }
    .lp-loxoprofen-line h2 {
        display: block;
        text-align: center;
        background: linear-gradient(to bottom, #16be58, #26ab5b);
        border-radius: 5px;
        padding: 4% 2%;
        color: #fff;
        font-size: min(5vmin, 30px);
        font-weight: bold;
        position: absolute;
        right: 0;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        line-height: 1.8;
        box-shadow: 0px 6px 2px #c2e0d6;
    }

    .lp-loxoprofen-lasting-copy span {
        font-size: min(8vmin, 60px);
    }

    .lp-loxoprofen-line-box {
        background-color: #fff;
        border-radius: 10px;
        padding: 25vw 3vw 3vw 3vw;
    }
    .lp-loxoprofen-line-text {
        text-align: center;
    }
    .lp-loxoprofen-line-title {
        font-size: min(4vmin, 30px);
        font-family: var(--font-gothic);
        line-height: 1.5;
        color: #333;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .lp-loxoprofen-line-title span {
        font-size: min(7vmin, 60px);
    }
    .lp-loxoprofen-line-explanatory {
        text-align: center;
        font-size: min(3.8vmin, 24px);
        line-height: 2;
        margin-bottom: 20px;
    }
    .lp-loxoprofen-line-explanatory span {
        color: #e23636;
        font-size: min(2.4vmin, 24px);
    }

    .lp-loxoprofen-line-cta {
        text-align: center;
        margin-top: 5%;
    }
    .lp-loxoprofen-line_cta img {
        width: 80%;
    }

    /* merit-------------------------------------- */

    .lp-loxoprofen-lasting h2 {
        font-size: min(4.2vmin, 42px);
    }

    .lp-loxoprofen-lasting-title {
        font-size: min(3.8vmin, 42px);
    }

    .lp-loxoprofen-lasting-copy {
        font-size: min(5vmin, 40px);
    }

    .lp-loxoprofen-merit-text {
        font-size: min(1.6vmax, 30px);
    }

    .lp-loxoprofen-merit-text span {
        font-size: min(5vmin, 50px);
    }

    /* faq-------------------------------------- */

    .lp-loxoprofen-faq {
        padding: 3vw;
    }

    .lp-loxoprofen-faq h2 {
        font-size: min(8vmin, 40px);
        text-align: center;
    }

    .lp-loxoprofen-faq-item {
        max-width: 100%;
        margin-bottom: 5px;
        border-bottom: 2px solid #d6dde3;
    }

    .lp-loxoprofen-faq-item summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 1em 2em 1em 3em;
        color: #333333;
        font-weight: 600;
        cursor: pointer;
        padding: 2% 0 2% 10%;
        font-size: min(4vmin, 26px);
    }

    .lp-loxoprofen-faq-item summary::before,
    .lp-loxoprofen-faq-item p::before {
        position: absolute;
        left: 2%;
        font-weight: 600;
        font-size: min(4.8vmin, 48px);
    }

    .lp-loxoprofen-faq-item summary::before {
        color: #75bbff;
        content: 'Q';
    }

    .lp-loxoprofen-faq-item summary::after {
        transform: translateY(-25%) rotate(45deg);
        width: 7px;
        height: 7px;
        margin-left: 10px;
        border-bottom: 3px solid #333333b3;
        border-right: 3px solid #333333b3;
        content: '';
        transition: transform 0.5s;
    }

    .lp-loxoprofen-faq-item[open] summary::after {
        transform: rotate(225deg);
    }

    .lp-loxoprofen-faq-item p {
        position: relative;
        transform: translateY(-10px);
        opacity: 0;
        margin: 0;
        padding: 2% 0 5% 10%;
        color: #333;
        transition: transform 0.5s, opacity 0.5s;
    }

    .lp-loxoprofen-faq-item[open] p {
        transform: none;
        opacity: 1;
    }

    .lp-loxoprofen-faq-item p::before {
        color: #ff8d8d;
        line-height: 1.2;
        content: 'A';
    }
}
